.navbar-item{
	color: white;
	display: flex;
	flex-direction: column;
	margin: 0 1rem;
	cursor: pointer;
	font-size: 11pt;

	span{
		margin-top: .5rem;
	}

}

.navbar-item-modal{
	color: white;
	display: flex;
	flex-direction: column;
	margin: 0 .5rem;
	cursor: pointer;
	font-size: 11pt;

	span{
		margin-top: .5rem;
	}
}

.navbar-item:hover{
	color: #FBBC05;
}