.items-list-service {
	margin: 30px;
	display: inherit;
	flex-direction: column;
	align-items: center;
	cursor: pointer;

	.gallery-view-transition-enter {
		opacity: 0;
	}

	.gallery-view-transition-enter-active {
		opacity: 1;
		transition: opacity 500ms ease-in-out;
	}

	.gallery-view-transition-exit {
		opacity: 1;
	}

	.gallery-view-transition-exit-active {
		opacity: 0;
		transition: opacity 500ms ease-in-out;
	}

	.circle-image {
		width: 150px;

		.gallery-circle {
			width: 160px;
			height: 160px;
			border-radius: 50%;
			position: absolute;
			background-color: rgba($color: #000000, $alpha: 0.7);

			.gallery-link {
				position: inherit;
				text-decoration: none;
				color: white;
				top: 43%;
				left: 18%;
				font-size: 16pt;
				font-weight: bold;
			}
		}

		img {
			width: inherit;
			border-radius: 50%;
			border: 5px solid #fbbc05;
		}
	}

	.service-title {
		margin: 5px 0;
		color: #fbbc05;
		width: 100px;
		text-align: center;
		font-weight: bold;
	}
}

.see-gallery-button {
	background-color: #fbbc05;
	width: 100px;
	height: 30px;
	border-style: none;
	border-radius: 10px;
	font-weight: bold;
	cursor: pointer;
}

.see-gallery-button:hover {
	background-color: #000000;
	color: #fbbc05;
}