.about-container{
	display: flex;
	background: linear-gradient(to bottom, #E2E2E2, #e2e2e2cc);
	position: relative;
	top: 498px;
	justify-content: space-evenly;

	.about-image{
		width: 500px;
		height: 600px;
	}

	.about-description{
		display: inherit;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		.about-desc-title{
			font-size: 28pt;
			margin-bottom: 30px;

			.about-desc-title-bold{
				font-weight: bold;
			}
		}

		p{
			width: 500px;
			text-align: justify;
		}
	}
}