.services-container {
  position: relative;
  top: 494px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  .services-services-section {
    grid-column: 1 / span 2;
    background-color: #151515;
    color: white;
  }

  .actions-services-section {
    grid-column: 3;
    background-color: #0a8f08;
    color: white;
  }
}

@media screen and (max-width: 950px) {
  .services-container {
    min-height: 100vh;
    color: white;
    background-color: #151515;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
}
