.presentation-headline-container{
	position: absolute;
	top: 420px;
	left: 120px;
	z-index: 9;

	.presentation-headline{
		color: white;

		h1{
			font-size: 32pt;
			width: 300px;
		}

		h5{
			width: 300px;
			font-size: 11pt;
			font-weight: lighter;
		}

		span{
			color: #FBBC05;
			font-weight: bold;
		}
	}
}



@media screen and (max-width: 800px) {
	.presentation-headline-container{
		top: 65%;
		left: 12px;
		width: 97vw;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;

		.presentation-headline{
			h1{
				font-size: 20pt;
				width: 220px;
			}

			h5{
				width: 220px;
			}
		}
	}
}