.contact-container{
	position: relative;
	top: 494px;
	background-color: #000E28;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 25px 0;

	.contact-title{
		font-size: 28pt;
		font-weight: bold;

		.contact-title-yellow{
			color: #FBBC05;
		}
	}
	.contact-left{
		display: inherit;
		flex-direction: row;
		width: 100vw;
		justify-content: space-evenly;
		align-items: center;


		.contact-left-logo{
			width: 150px;
		}

		.contact-info{
			display: flex;
			flex-direction: column;
			justify-content: center;

			.socialmedia-item{
				display: flex;
				align-items: center;
				margin: 5px 0;
				cursor: pointer;

				.socialmedia-logo{
					margin-right: 10px;
				}

				.socialmedia-info{
					font-size: 10pt;
				}
			}
		}
	}
}

@media screen and (max-width: 800px){
	.contact-container{
		top: 0;
		height: 100vh;
		width: 100vw;
		flex-direction: column;
		padding: 50px 0 0 0;
		justify-content:flex-start;

		.contact-left{
			flex-direction: column;
		}
	}
}