.gallery-header-container {
  background-color: #000e28;
  padding: 1rem 5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;

  .gallery-header-title{
    font-family: Angelface;      
    font-size: 38pt;
    color: white;
  }

  .gallery-header-navbar{
    display: flex;
    align-items: center;

    .gallery-navbar-item{
      margin-right: 40px;
    }
  }
}

@media screen and (max-width: 800px) {
  .gallery-header-container {
    background-color: #000e28;
    padding: 1rem 2rem;
    color: white;
		display: block;
  }

	.gallery-logo{
		display: flex;
		justify-content: center;
		align-items: center;
	}

  .gallery-header-bottom {
    color: white;
		display: flex;
		justify-content: space-between;

    .gallery-header-bars-icon {
      color: white;
      font-size: 20pt;
      cursor: pointer;
    }

    .gallery-header-title{
      font-family: Angelface;      
      font-size: 30pt;
    }

    .gallery-close-btn {
      font-size: 24pt;
      cursor: pointer;
      color: white;
    }
  }

  .mob-nav-transition-enter{
    transform: translateX(-100%);
  }

  .mob-nav-transition-enter-active{
    transform: translateX(0);
    transition: transform 500ms ease-in-out;
  }

  .mob-nav-transition-exit{
    transform: translateX(0);
  }

  .mob-nav-transition-exit-active{
    transform: translateX(-100%);
    transition: transform 500ms ease-in-out;
  }
}
