.mob-cat-section{
	background-color: #131313;
	width: 250px;
	height: 100vh;
	position: fixed;
	z-index: 2;

	span{
		color: white;
	}
}

.gallery-nav-backdrop{
	background-color: rgba($color: #000000, $alpha: 0.5);
	width: 100vw;
	height: 100vh;
	position: fixed;
	z-index: 1;
}