.services-section-container{
	display: flex;
  flex-direction: column;
  align-items: center;

	.services-title-container {
		margin: 20px 0;
		
		#services-title {
			font-size: 28pt;
			font-weight: bold;
			
			#services-title-yellow {
				color: #fbbc05;
			}
			
			#services-title-yellow:hover {
				color: white;
				cursor: pointer;
			}
		}
	}
	
	.services-items-list {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		width: 500px;
		justify-content: center;
		margin: 20px 0;
		
	}
}

@media screen and (max-width: 950px){
	.services-section-container{
		width: 100%;

		.services-items-list{
			width: 300px;
		}
	}
}