.pagination{
	list-style: none;
	display: flex;
	margin-top: 20px;
}

.page-item{
	margin: 10px;
	padding: 5px 10px;
	border-radius: 50%;
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
	cursor: pointer;
}

.page-item-p-n{
	margin: 10px;
	padding: 5px 10px;
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
	border-radius: 10px;
	cursor: pointer;
}

.active{
	color: white;
	background-color: #131313;
}