$gap: 32px;
$num-cols: 4;
$row-height: 200px;

.showcase-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;

  .no-images {
    margin-top: 20px;
    color: rgba($color: #131313, $alpha: 0.7);
  }

  .image-grid {
    box-sizing: border-box;
    padding: $gap;
    display: grid;
    grid-template-columns: repeat($num-cols, 1fr);
    grid-auto-rows: $row-height;
    gap: $gap;
    width: 80vw;

    .image-container {
      position: relative;
      cursor: pointer;
			
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 2%;
      }

      .item-category {
        transition: opacity 500ms ease-in-out;
        position: absolute;
        left: 0px;
        top: 0px;
        background-color: rgba(255, 255, 255, 0.7);
        padding: 10px;
        border-bottom-right-radius: 10px;
      }
    }
  }

  .image-grid-increase {
    grid-column: span 2;
    grid-row: span 2;
  }

  .fancy-text {
    font-family: Angelface;
    font-size: 30pt;
    grid-column: span 2;
    text-align: center;
  }
}

.view-photo-transition-enter {
  transform: scale(0);
}

.view-photo-transition-enter-active {
  transform: scale(1);
  transition: transform 500ms ease-in-out;
}

.view-photo-transition-exit {
  transform: scale(1);
}

.view-photo-transition-exit-active {
  transform: scale(0);
  transition: transform 500ms ease-in-out;
}

@media screen and (max-width: 1024px) {
  $num-cols: 2;
  $row-height: 200px;

  .showcase-container {
    margin-top: 0;

    .image-grid {
      grid-template-columns: repeat($num-cols, 1fr);
      grid-auto-rows: $row-height;
    }
  }
}
