@font-face {
	font-family: 'Roboto';
	src: url(./Assets/Fonts/Roboto-Regular.ttf);
}

@font-face {
	font-family: 'Roboto';
	src: url(./Assets/Fonts/Roboto-Bold.ttf);
	font-weight: bolder;
}

@font-face {
	font-family: 'Roboto';
	src: url(./Assets/Fonts/Roboto-Thin.ttf);
	font-weight: lighter;
}

@font-face {
	font-family: 'Roboto';
	src: url(./Assets/Fonts/Roboto-Light.ttf);
	font-weight: light;
}

*{
	margin: 0;
	padding: 0;
	font-family: "Roboto";

	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
}

body{
	width: 100vw;
}