.calltoaction-container {
  background-color: #fbbc05;
  padding: 1rem;
  width: fit-content;
  height: 30px;
  border-radius: 30px;
  display: flex;
  align-items: center;

  .calltoaction-leftside {
    #calltoaction-title {
      font-size: 10pt;
      cursor: default;
    }

    .calltoaction-number {
      font-weight: bold;
      font-size: 11pt;
      cursor: pointer;

      span {
        margin-left: 0.5rem;
        font-size: 11pt;
      }
    }
  }

  .calltoaction-blankline {
    width: 2px;
    height: 210%;
    margin: 0 10px;
    background-color: rgba($color: #000000, $alpha: 0.1);
  }

  .calltoaction-insta {
    cursor: pointer;
  }
}

@media screen and (max-width: 800px) {
  .calltoaction-container {
    width: 150px;
    height: fit-content;
    margin-right: 5%;
    padding: 1rem 0.4rem;
    flex-direction: column;

    .calltoaction-leftside {
      .calltoaction-number {
        span {
          font-size: 10pt;
        }
      }
    }
  }
}
