.loading-screen-container{
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.about-bg-color{
	background: linear-gradient(to bottom, #E2E2E2, #e2e2e2cc);
}

.services-bg-color{
	background-color: #131313;
}