.modal-transition-enter {
	transform: translateY(-100%);
}

.modal-transition-enter-active {
	transform: translateY(0);
	transition: transform 300ms ease-in-out;
}

.modal-transition-exit {
	transform: translateY(0);
}

.modal-transition-exit-active {
	transform: translateY(-100%);
	transition: transform 300ms ease-in-out;
}